.input {
  background: transparent;
  text-align: center;
  font-size: 1.8rem;
  color: var(--text-default);
  outline: none;

  padding: 0.8rem;

  border: 0.2rem solid transparent;
  border-bottom-color: var(--primary);

  transition: all 0.3s ease-in-out;
}

.input:focus {
  border-color: var(--primary);
  border-radius: 0.8rem;
}

.input::placeholder {
  color: var(--gray-500);
  font-size: 1.4rem;
  font-style: italic;
}

input:disabled {
  border-bottom-color: var(--disabled);
  color: var(--text-muted);
}
